.main-bookcontainer {
  display: flex;
  padding: 20px;
  border: 1px black solid;
  width: 80%;
  height: 70%;
  margin-top: 15px;
  margin-left: 100px;
}

.left-side {
  width: 40vw;
}

.book-button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  min-width: 400px;
}

.book-button button {
  width: 38%;
  margin: 5px;
  height: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ac3b48;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.book-button button:hover {
  color: #ac3b48;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.auther {
  font-size: 20px;
  color: #a38f92;
}

.pricebook {
  padding: 20px 20px 20px 0px;
}

.dis-price {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}

.real-price {
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
  text-decoration: line-through;
}

.book-description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.detail {
  color: #807577;
}

.descrip {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.headings {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font: normal normal normal 15px/30px Roboto;
  letter-spacing: 0px;
  /* color: #9D9D9D; */
  opacity: 1;
  height: 8px;

  margin-left: 100px;
  /* align-self: flex-start; */
}

.counter {
  display: flex;
  min-width: 100px;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.reduce-counter,
.increase-counter {
  border: 1px solid gray;
  border-radius: 50%;
  margin: 5px 0px;
  cursor: pointer;
}

.reduce-counter {
  padding: 5px 12px;
}

.increase-counter {
  padding: 5px 10px;
}

.counter-value {
  padding: 5px 20px;
  margin: 0px 5px;
}

.counter-value {
  border: 1px solid black;
}

.img-Book img {
  height: 320px;
  width: 250px;
  padding: 30px;
  border: 1px solid rgb(143, 131, 131);
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reduce-counter:hover,
.increase-counter:hover {
  color: #ffffff !important;
}

.right-content hr {
  height: 1px;
  background-color: rgb(126, 112, 112);
  border: none;
  width: 100%;
}
